@(message: String)

@main("大富翁战绩系统") {
<div class="well">
  <div id="weiquanChart"></div>
</div>
<button type="button" class="reduce btn btn-primary btn-lg">我要拿蛋总的味全！</button>
<button type="button" class="reduce btn btn-success btn-lg">我也要拿蛋总的味全！</button>
<script type="text/javascript" src='@routes.Assets.at("highcharts/highcharts.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
<script type="text/javascript" src='@routes.Application.chartJS()'></script>
}
