@(title: String, css: Html = Html(""))(content: Html)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>@title</title>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")' >
  <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")' >
  <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")' >
  <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-2.0.3.min.js")' ></script>
  @css
</head>
<body>
@content
</body>
</html>
